html {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

* {
  outline: none;
}

@font-face {
  font-family: 'Nokia';
  src: url("/fonts/Nokia-Sans-S60-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.bar {
  background-image: url("/img/back-rect-1-small.png");
  height: 85px;
}

.bar__logo {
  height: 85px;
}

.bar__logo img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: 0;
  border-left: 4px white solid;
  border-right: 4px white solid;
}

.bar__site-name {
  font-family: 'Nokia', 'Roboto', Arial, sans-serif;
  color: #393939;
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 0px;
}

.bar__site-subtitle {
  margin-top: 0px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  color: #f64747;
}

.bar .call-me {
  text-align: right;
  margin-top: 15px;
}

.bar .call-me__phone {
  color: #393939;
  font-weight: 400;
  font-size: 16px;
}

.bar .call-me__phone_big {
  font-size: 1.3em;
  font-weight: bold;
}

.bar .call-me__icon, .bar .call-me__arrow, .bar .call-me__text {
  display: inline;
  margin-left: 2px;
  height: 15px;
  margin-top: 0;
  padding-top: 0;
}

.bar .call-me__icon {
  width: 15px;
}

.bar .call-me__arrow {
  color: #f64747;
  font-size: 20px;
}

.bar .call-me__text {
  font-size: 14px;
  font-weight: 300;
  color: #f64747;
  border-bottom: 1px dashed #f64747;
}

.bar .call-me__text:hover {
  border-style: none;
  cursor: pointer;
}

.header {
  padding-bottom: 70px;
}

.header__title {
  font-family: 'Roboto Condensed', 'Roboto', sans-serif;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 10px;
  text-align: center;
  color: #7d3803;
  font-size: 56px;
  font-weight: 600;
}

.header__subtitle {
  text-align: center;
  margin-top: 10px;
  color: #272727;
  font-family: 'Roboto Condensed', 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
}

.header__main-image {
  position: relative;
}

.header__main-image img {
  position: absolute;
  top: 0;
  right: 20px;
  width: 750px;
}

.offer {
  width: 310px;
  border: 5px solid #fdf1cf;
  background-color: #f64747;
  padding: 10px 20px 20px;
  position: relative;
}

.offer::before {
  position: absolute;
  content: url("/img/header-offer-shadow.png");
  bottom: -8px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
}

.offer::after {
  position: absolute;
  height: 300px;
  width: 18vw;
  background: url("/img/header-grains.png") no-repeat right bottom;
  background-size: contain;
  content: '';
  bottom: 10%;
  left: 236px;
  z-index: -2;
}

.offer__title {
  text-align: center;
  color: #fdf1cf;
  font-family: 'Roboto Condensed', 'Roboto', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}

.offer-form input, .offer-form button {
  display: block;
  width: 100%;
  border-radius: 5px;
  outline: none;
}

.offer-form input {
  height: 45px;
  color: #292929;
  font-size: 14px;
  margin-bottom: 7px;
  border-radius: 5px;
  border: none;
  padding: 10px 40px 10px 15px;
  background-position: 95% center;
  background-repeat: no-repeat;
}

.offer-form input:placeholder {
  color: #2f2f2f;
}

.offer-form__name {
  background-image: url("/img/icon-name.png");
}

.offer-form__mail {
  background-image: url("/img/icon-mail.png");
}

.offer-form__phone {
  background-image: url("/img/icon-tel.png");
}

.offer-form__submit {
  border: none;
  margin-top: 12px;
  height: 57px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.09);
  font-family: 'Roboto Condensed', 'Roboto', sans-serif;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#03c9a9), to(#13efcb));
  background-image: linear-gradient(to top, #03c9a9 0%, #13efcb 100%);
}

.offer-confident {
  margin: 15px auto 10px;
  height: 30px;
  text-align: center;
}

.offer-confident * {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.offer-confident__text {
  margin: 0 3px;
  color: #ffffff;
  font-size: 11px;
  font-weight: 400;
  width: 75%;
}

.section {
  padding-top: 50px;
  padding-bottom: 60px;
}

.section__title {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  color: #1b1b1b;
  font-family: 'Roboto Condensed', 'Roboto', sans-serif;
  font-size: 32px;
  font-weight: 400;
}

.section__subtitle-image {
  display: block;
  margin: 7px auto 20px;
  height: 20px;
  background: url("/img/subtitle-logo.png") no-repeat center center;
  background-size: 40px;
}

.our-foto {
  background-color: #fcf2d1;
}

.our-foto__text {
  color: #1b1b1b;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  margin-top: 30px;
}

.our-foto__slider {
  position: relative;
  z-index: 2;
}

.our-foto__slider::before {
  position: absolute;
  content: url("/img/slider-back-grains-1.png");
  z-index: -1;
  bottom: 5px;
  right: -10px;
}

.our-foto__slider img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: 20px;
}

.plus-in-video__left-side {
  position: relative;
}

.plus-in-video__left-side img {
  position: absolute;
  bottom: -60px;
  right: 0;
  z-index: -1;
}

.plus-in-video__video {
  position: relative;
}

.plus-in-video__video::after {
  content: url("/img/advantages-grains.png");
  position: absolute;
  left: 82%;
  bottom: 10%;
  z-index: -1;
}

.plus-in-video__video img {
  display: block;
  max-width: 100%;
  border: 3px #fff solid;
  border-radius: 5px;
}

.advantages {
  background-color: #fcf2d1;
}

.advantages__item {
  color: #1b1b1b;
  margin-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.advantages__icon {
  float: left;
  margin-top: 7px;
}

.advantages__title {
  font-size: 18px;
  font-weight: bold;
  width: 77%;
  margin: 5px 0 8px auto;
}

.advantages__text {
  font-size: 15px;
  font-weight: 300;
  margin-top: 8px;
  margin-left: auto;
  margin-right: 0;
  width: 77%;
}

.catalog .section__subtitle-image {
  margin-bottom: 5px;
}

.catalog__card {
  padding: 10px 15px 23px;
  -webkit-transition: .4s;
  transition: .4s;
  border: 1px solid transparent;
}

.catalog__card:hover {
  border-color: #d6d6d6;
}

.product {
  text-align: center;
}

.product__image {
  max-width: 100%;
  height: 120px;
}

.product__name {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 5px;
  margin-bottom: 5px;
}

.product__text {
  color: #1b1b1b;
  font-size: 15px;
  font-weight: 300;
  margin-top: 5px;
}

.product__button {
  padding: 15px 20px;
  margin-top: 5px;
  background-color: transparent;
  border: 1px solid #f64747;
  color: #f64747;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-transition: .4s;
  transition: .4s;
}

.product__button:hover {
  background-color: #f64747;
  color: #ffffff;
}

@media (max-width: 1419px) {
  .offer::after, .our-foto__slider::before, .plus-in-video__video::after {
    position: auto;
    content: none;
  }
  .plus-in-video__left-side img {
    right: -120px;
    width: 140%;
  }
  .plus-in-video__video img {
    margin-left: auto;
    margin-right: 0;
  }
  .offer {
    width: 100%;
  }
  .advantages__item {
    padding-left: 0;
    padding-right: 0;
  }
  .advantages__icon {
    width: 17%;
  }
  .advantages__title {
    width: 80%;
  }
  .advantages__text {
    width: 80%;
  }
}

@media (max-width: 1199px) {
  .header__main-image img {
    display: block;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }
  .header__title {
    font-size: 45px;
  }
  .header__subtitle {
    font-size: 18px;
  }
  .offer {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .our-foto__text {
    margin-top: 20px;
  }
  .our-foto__slider img {
    margin-right: auto;
  }
  .plus-in-video__left-side img {
    right: -20px;
    width: 120%;
  }
}

@media (max-width: 991px) {
  .offer {
    width: 400px;
  }
  .plus-in-video__left-side {
    display: none;
  }
  .plus-in-video__video img {
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .bar__logo img {
    margin-right: auto;
  }
  .bar__site-name {
    margin-top: 10px;
    font-size: 23px;
  }
  .bar__site-subtitle {
    font-size: 12px;
  }
  .bar .call-me {
    margin-top: 15px;
    padding: 0;
    font-size: 14px;
  }
  .bar .call-me__icon, .bar .call-me__arrow {
    display: none;
  }
  .offer {
    max-width: 500px;
  }
  .offer::before {
    position: relative;
    content: '';
    bottom: 0;
    left: 0;
  }
}

@media (max-width: 575px) {
  .bar {
    height: 80px;
  }
  .bar__site-name {
    margin-top: 15px;
    margin-left: -15px;
  }
  .bar__site-subtitle {
    display: none;
  }
  .bar .call-me {
    padding: 0 15px;
    margin-left: auto;
    margin-right: 15px;
    margin-top: -40px;
    text-align: left;
  }
  .bar .call-me__phone {
    font-size: 12px;
  }
  .bar .call-me__request {
    display: none;
  }
  .header__title {
    font-size: 35px;
  }
  .header__subtitle {
    font-size: 16px;
    text-transform: none;
  }
  .offer {
    width: 97%;
  }
  .section {
    padding-bottom: 40px;
  }
  .section__title {
    font-size: 25px;
  }
}

@media (max-width: 479px) {
  .header {
    padding-bottom: 40px;
  }
  .header__title {
    font-size: 26px;
    margin-top: 25px;
  }
  .header__main-image {
    display: none;
  }
  .header__bar {
    height: 75px;
  }
  .header__bar .bar__logo {
    height: 75px;
  }
  .header__bar .bar__logo img {
    max-width: 90%;
  }
  .header__bar .bar__site-name {
    margin-top: 15px;
    margin-left: -15px;
    font-size: 20px;
  }
  .header__bar .call-me {
    padding-left: 0;
  }
  .header__bar .call-me__request {
    display: none;
  }
  .offer-confident {
    margin-bottom: 0;
  }
  .offer-confident__text {
    margin: 0 auto;
    width: 100%;
  }
  .offer-confident img {
    display: none;
  }
  .section {
    padding-top: 35px;
    padding-bottom: 25px;
  }
  .section__title {
    font-size: 28px;
    font-weight: 500;
    text-transform: none;
  }
  .section__subtitle-image {
    margin-bottom: 10px;
  }
  .our-foto__text {
    font-size: 14px;
  }
  .advantages {
    text-align: center;
  }
  .advantages__icon {
    width: 30%;
    float: none;
  }
  .advantages__title {
    font-size: 20px;
    font-weight: normal;
  }
  .advantages__title, .advantages__text {
    width: auto;
    margin-left: auto;
  }
}
